---
layout: stylesheet
---

/******************************************************
 *             PREDEFINE TAGS CSS                     *
*******************************************************/

@font-face {
    font-family: 'Title-VN';
    src: url('/fonts/milizon-content-title-font.woff2') format('woff2'),
        url('/fonts/milizon-content-title-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Title';
    src: url('/fonts/CopyrightKlimTypeFoundry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SF Text';
    src: url('/fonts/SFText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Standard Text WEB';
    src: url('/fonts/StandardTextWEB-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Standard Text WEB';
    src: url('/fonts/StandardTextWEB-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Standard Text WEB';
    src: url('/fonts/StandardTextWEB-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'SVN-Georgia';
    src: url('/fonts/SVN-GeorgiaBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font';
    src: url('/fonts/Font.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicklook';
    src: url('/fonts/b7ed4db933323b43fdbd81a9cf925fc1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('/fonts/0c6d955f287923f70cbce7148d64cd51.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SVN-Georgia';
    src: url('/fonts/SVN-GeorgiaItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia';
    src: url('/fonts/SVN-Georgia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Georgia';
    src: url('/fonts/SVN-GeorgiaBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Charis SIL';
    src: url('/fonts/CharisSILBI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Charis SIL';
    src: url('/fonts/CharisSILB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charis SIL';
    src: url('/fonts/CharisSILR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charis SIL';
    src: url('/fonts/CharisSILI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Feed';
    src: url('/fonts/UntitledTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Feed';
    src: url('/fonts/UntitledTTF1.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cmgunyhpukpuuockazuaznxkkqv';
    src: url('/fonts/Cmgunyhpukpuuockazuaznxkkqv.woff2') format('woff2'),
        url('/fonts/Cmgunyhpukpuuockazuaznxkkqv.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Regular.woff2') format('woff2'),
        url('/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/SourceSerifPro-It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/SourceSerifPro-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/SourceSerifPro-SemiboldIt.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/SourceSerifPro-BoldIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/SourceSerifPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/SourceSerifPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicklook-VN';
    src: url('/fonts/sspr.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "/assets/css/highlight.css";
/* Containers: Body, Container, Box, Main, Header, Content */ 

html {
    scroll-behavior: smooth;
	    overflow: auto;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    counter-reset: sidenote-counter; 
    box-sizing: inherit;
    position: absolute;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    color:  #292929;
    position: relative;
    min-height: 100vh;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif;
    
    
    
}

.container {
    display: flex;    
    position: relative;         
    flex-direction: column;     
    justify-content: center;
    position: absolute;
    top: 0px;  
    left: 0px;
    right: 0px;
    bottom: 0px;  
    align-items: center;       
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 0.1em;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(130,130,130,0.8); 
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0); 
}


.box {
    border-left: 0px solid #E6ECF0;
    border-right: 0px solid #E6ECF0;
    border-bottom: 0px solid #E6ECF0;
    max-width: 720px;
    position: absolute;
    top: 0px;
}

header {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Phrasing Style: H1, H2, H3, P, A, UL, LI */

h1 {
    font-size: 40px;
    line-height: 48px;
    margin-top: 0.78em;
    margin-bottom: 0em;

}

h2 {
    font-size: 26px;
    margin-top: 1.2em;
    margin-bottom: -0.28em;
    line-height: 32px;
}

h3 {
    font-size: 22px;
    margin-top: 1.23em;
    margin-bottom: -0.31em;
    line-height: 28px;
}

h4 {
    font-size: 22px;
    margin-top: 1.23em;
    margin-bottom: -0.31em;
    line-height: 28px;
}

h1 {
    color: #292929;
    font-family: 'Title', 'Title-VN', 'Source Serif Pro', serif;
    font-weight: 400;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-transform:capitalize;
}  

h2, h3, h4 {
    color: #292929;
    font-family: 'Feed', sans-serif;
    font-weight: 600;
    letter-spacing: -0.022em;
}  

h5 {
	display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a, p, ul, li, ol, table, span, blockquote {
    color: #292929;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.003em;
}

p a,
ul a,
li a,
td a,
th a,
h1 a,
h2 a,
h3 a,
h4 a,
span a,
div a,
ol a,
blockquote a,
cite a {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

p {
    display: block;
    margin-block-start: 1.56em;
    margin-block-end: -0.46em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p1{
    color: #292929;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.003em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: -0.46em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1.56em;
    margin-block-end: -0.46em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul ul {
    list-style-type: disc;
}

b, strong {
    font-weight: 600;
}


.drop-cap::first-letter {
    font-family: 'Quicklook';
    font-size:  66px;
    font-style: normal;
    line-height: .83;
    text-transform: inherit;
    margin-right: 12px;
    padding-top: 0px;
    position: relative;
    float: left;
    display: block;
    box-sizing: border-box;
    word-break: break-word;
    letter-spacing: -0.003em;
    font-kerning: normal;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    initial-letter: 2;
    
}

/* Figures, Images, Code, Blockquotes, Tables */

figure {
  position: relative;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  display: block;
  margin-top: 40px;
}

img.scaled {
  width: 100%;
}

figcaption {
  background-color: #0000;
  font-family:  'Feed', sans-serif;
  font-weight: 300;
  color: #757575;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0px;
  text-align: center;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  word-break: break-word;
}

span {
    min-width: auto;
    max-width: 680px;
    height: auto;
    box-sizing: border-box;
}

.MathJax_Display {
    text-align: center;
    position: relative;
    overflow-x:auto;
    display: block!important;
    text-indent: 0;
    width: auto!important; 
    max-width: 680px;
    height: auto;
margin-block-start: 1.56em !important;
    margin-block-end: -0.46em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}

.MathJax_Display, .MathJax_Preview, .MathJax_Preview > * {
    background: inherit;
}

.MathJax_SVG_Display, .MathJax_Display {
    overflow: auto hidden;
}

code {
    font-family: 'Menlo', 'Monaco', "Courier New", 'Courier', monospace !important;
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'ss02' 1, 'zero' 1;
    display: inline-block;
    overflow: auto !important;
    white-space: pre-line !important;       
    word-wrap: break-word !important;       
    vertical-align:middle;
    padding: 2px 4px;
    border: 0px solid #e9e9e9;
    border-radius: 0px;
    font-size: 16px;
    color: rgba(41, 41, 41, 1);
    background-color: rgba(242, 242, 242, 1);
    letter-spacing: -0.003em;
    line-height: normal;
    word-break: break-word;
    box-sizing: inherit;
}

.regular-sans code {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: none;
    font-family: 'Menlo', 'Monaco', "Courier New", 'Courier', monospace !important;
}

.serif code {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: none;
    font-family: 'Menlo', 'Monaco', "Courier New", 'Courier', monospace !important;
}


pre code {
    font-family: 'Menlo', 'Monaco', "Courier New", 'Courier', monospace !important;
    display: block;
    overflow-x: auto !important;
    white-space: pre-wrap !important; 
    word-wrap: normal !important;       
    vertical-align: middle;
    width: auto  !important;
    background-color: rgba(242, 242, 242, 1);
    border: 0px solid #b3b3b3;
    border-radius: 0px;
    color: rgba(41, 41, 41, 1);
    margin: 0 auto;
    border-collapse: collapse;
    vertical-align: middle;
    border-spacing: 0;
    margin-top: 40px;
    padding: 20px;
}

code span {
    font-family: 'Menlo', 'Monaco', "Courier New", 'Courier', monospace !important;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: -0.09em;
    margin-top: -0.09em;
}

blockquote:before {
    display: none;
}

blockquote {
    display: block !important;
    width: auto;
    vertical-align: baseline;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: 0px;
    box-shadow: inset 3px 0 0 0 rgba(41, 41, 41, 1);
	margin-block-start: 1.56em;
	margin-block-end: -0.46em;
}

cite {
    padding-left: 50px;
    font-style: oblique;
}

blockquote p {
    font-family: inherit;
    font-size: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

table {
    width: auto  !important;
    max-width: 680px;
    margin: 0 auto;
    border-radius: 0px;
    border-collapse: collapse;
    vertical-align: middle;
    border-spacing: 0;
    overflow-x:auto;
    display: block;
    margin-block-start: 1.56em;
    margin-block-end: -0.46em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

th {
    color:  inherit;
    padding: 4px;
    text-align: left;
    font-size: inherit;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    font-family:  'Charter', 'Source Serif Pro';
}

td {
    color:  inherit;
    padding: 4px;
    text-align: left;
    font-size: inherit;
    border:0px solid gray;
}

td {
   font-size: inherit;
}

td a {
    color: inherit;
    text-decoration: none;
}

.item-title {
    color: #555;
    font-weight: 600;
}

.item-title span {
    color: #aaa;
    font-size: 12px;
    font-weight: 600;
}

table th {
    font-weight: 600;
}

tr:hover {
    border-radius: 5px;
}

thead tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

tbody tr:nth-child(even) {
    background-color: #0000;
}

tbody tr:last-child {
    border-bottom:1px solid gray;
}

/* hr*/
hr {
    background-color: rgba(230, 230, 230, 1);
    color: rgba(230, 230, 230, 1);
    border: 0 none;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 24px;
}


.etc {
  position:relative;
  padding: 0rem 0 39px 0;
  text-align:center;
  color:#292929;
  font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif;
  color:#292929;
  font-size: 18px;
  line-height: 39px;
  text-align:center;
}
.etc a {color:#292929;}
.etc:before {
  content:'\2022\2022\2022';
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif;
  color:#292929;
  font-size: 18px;
  line-height: 39px;
  text-align:center;
  letter-spacing: 0.6em;
}

/* embedding*/
.frame-area {
  display: block;
  width: 100%;  /* RESPONSIVE WIDTH */
  max-width: 400px;
  height: 300px;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin: 0px;
  padding: 0px;
  }



/* youtube*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 4px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border-width:0px;
    border:0px solid rgba(230, 230, 230, 1);
}


/* mofr*/
.mofr {
    background-color: #0000;
    width: 100%;
    min-height: 100px;
}
.mofr-wrapper {
    column-count: 2 !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
}
.mofr-group {
    width: 100% !important;
    height: 100%;
    cursor: pointer;
  }



/* audio*/

.fj {
    margin-top: 30px;
}
.r {
    display: block;
}
.fk {
    margin: 20px 0;
}
.p {
    justify-content: center;
}
.n {
    display: flex;
}
.am {
    flex: 1 0 auto;
}
.o {
    align-items: center;
}

.fl {
    margin-right: 16px;
}
.r {
    display: block;
}

.fu {
    border-color: rgba(117, 117, 117, 1);
}

.ft {
    background: 0;
}
.fr {
    text-decoration: none;
}
.fq {
    display: inline-block;
}
.fp {
    border-style: solid;
}
.fo {
    border-width: 1px;
}
.fn {
    padding: 8px;
}
.fm {
    border-radius: 4px;
}
.eh {
    color: #292929;
}
.do {
    box-sizing: border-box;
}
.q {
    fill: rgba(41, 41, 41, 1);
}
button, input, optgroup, select, textarea {
    margin: auto;
}
button {
    background: transparent;
    overflow: visible;
}
a, button, input {
    -webkit-tap-highlight-color: transparent;
}

button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.fy {
    flex-direction: column;
}
.am {
    flex: 1 0 auto;
}
.n {
    display: flex;
}

.fz {
    font-size: 16px;
}

.eh {
    color: #292929;
}
.cl {
    font-weight: 300;
}
.at {
    line-height: 20px;
}
.ar {
    font-family: 'Feed', sans-serif;
}

.o {
    align-items: center;
}
.n {
    display: flex;
}

.gl {
    text-align: left;
}
.gk {
    width: 28px;
}

.gj {
    margin-right: 12px;
}
.r {
    display: block;
}

.age {
    background: linear-gradient(to right, rgb(41, 41, 41) 11.5385%, rgb(242, 242, 242) 0px);
}
.gc {
    height: 2px;
}
.gb {
    flex-grow: 1;
}
.ga {
    justify-content: flex-start;
}
.dg {
    cursor: pointer;
}
.o {
    align-items: center;
}
.n {
    display: flex;
}

.gn {
    text-align: right;
}

.gm {
    margin-left: 12px;
}
.gk {
    width: 28px;
}
.r {
    display: block;
}

.gd {
    background: linear-gradient(to right, rgba(41, 41, 41, 1) 0%, rgba(242, 242, 242, 1) 0);
}

.gc {
    height: 2px;
}
.gb {
    flex-grow: 1;
}
.ga {
    justify-content: flex-start;
}

.fi {
    max-width: 728px;
}

.fh {
    margin-right: auto;
}
.fg {
    margin-left: auto;
}
.ff {
    padding-right: 0px;
}
.fe {
    padding-left: 0px;
}
.do {
    box-sizing: border-box;
}
.ai {
    width: 100%;
}
.r {
    display: block;
}

.bo {
    background-color: rgba(53, 88, 118, 1);
}

.bn {
    border-top: none;
}
.r {
    display: block;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.r {
    display: block;
}

.c {
    background-color: rgba(255, 255, 255, 1);
}

.x {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.w {
    z-index: 500;
}
.v {
    right: 0;
}
.u {
    left: 0;
}
.t {
    top: 0;
}
.s {
    position: absolute;
}
.r {
    display: block;
}
.c {
    background-color: rgba(255, 255, 255, 1);
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
nav {
    display: block;
}
.b {
    font-weight: 400;
}
.a {
    font-family: 'Feed', sans-serif;
}

.d {
    display: none;
}

.c {
    background-color: rgba(255, 255, 255, 1);
}
div {
    display: block;
}


.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
	}


.audio.green-audio-player {
    min-width: auto;
    max-width: 680px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  background-color: #0000;
  .play-pause-btn {
    cursor: pointer;
	      display: none;
  }
	  .spinner {
    width: 25px;
    height: 25px;
    background-image: url(/assets/img/gray-spinner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
		      padding: 8px;
    margin-right: 16px;
    border-color: #0000;
    /* background: 0; */
    border-radius: 4px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    /* box-sizing: border-box; */
    appearance: button;
    cursor: default;
    box-sizing: border-box;
    /* border-image: initial; */
  }
  .slider {
    flex-grow: 1;
    background-color: rgb(242, 242, 242);
    cursor: pointer;
    position: relative;
    .progress {
      background-color: rgb(41, 41, 41);
      border-radius: 0px;
      position: absolute;
      pointer-events: none;
      .pin {
        height: 0px;
        width: 0px;
        border-radius: 50%;
        background-color: rgb(41, 41, 41);
        position: absolute;
        pointer-events: all;
      }
    }
  }
  .controls {
    font-family: 'Feed', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    .slider {
	          margin-left: 0px;
      margin-right: 0px;
      border-radius: 0px;
      height: 2px;
      .progress {        
        width: 0;
        height: 100%;
        .pin {
          top: -4px;
   left: -5px;
        }
      }
    }
    span {
      cursor: default;
    }
  }
  .volume {
    position: relative;
    .volume-btn {
      cursor: pointer;
      &.open path {
        fill: #44BFA3;
      }
      display: none;
    }
    .volume-controls {
      width: 30px;
      height: 135px;
      background-color: rgba(0, 0, 0, 0.62);
      border-radius: 7px;
      position: absolute;
      left: -3px;
      bottom: 52px;
      flex-direction: column;
      align-items: center;
      display: flex;
      &.hidden {
        display: none;
      }
      .slider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 2px;
        border-radius: 0px;
        .progress {
          bottom: 0;
          height: 100%;
          width: 2px;
          .pin {
          top: -4px;
left: -5px;
          }
        }
      }
    }    
  }
}
svg, img {
  display: block;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}















/* Blogposts: Post-heading, Post-subheading, Post-content, Related Posts*/

.site-heading {
    border-bottom: 0px solid #0000;
    flex: 0 0 20px;
    align-self: stretch;
    align-content: flex-end;
    display: none;
}

.site-heading h4 {
    color: #292929;
    font-family:  'Feed', sans-serif;
    font-stretch: ultra-condensed;
    float: right;
    margin-bottom: 10px;
    margin-right: 20px;
    font-weight: 600;
}

.site-heading a {
    text-decoration: none;
}

.avatar {
    position: absolute;
    top: 20px;
    left: 10px;
}

.avatar-link {    
    background-color: #0000;
    border-radius: 50%;
    display: inline-block !important;
    float: left;
    margin: -35px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif;
    display: none;
}

.avatar-img {
    border: 0px solid #fff;
    color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    display: none;
}

.dashboard {
    border-bottom: 0px solid #0000;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userboard {
    background-color: #0000;
    width: 100%;
}

.username {
    font-size: 18px;
    font-weight: 600;
}

.username:hover {
    text-decoration: underline;
    color: #292929;
}

.userdesc {
    margin-top: 0px;
}

.userdesc p {
    font-size: 15px;
}

.link-to-notes {
    padding-left: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}

.link-to-notes a {
    color: #4285f4;
    text-decoration: none;
    font-family: 'Feed', sans-serif;
    font-size: 15px;
    margin-left: 0px;
}

.link-to-notes a:hover {
    text-decoration: underline;
}

.link-to-notes a, .link-to-notes svg {
    vertical-align: middle;
    display: inline-block;
}
.link-to-notes svg {
    display: none;
}

.anchor-link {
    stroke: #A8B3BB !important;
}

.main-site-subheader {
    border-bottom: 0px solid #E6ECF0;
    padding: 0px;
}

/* Notes: Note-heading, Note-subheading, Notes-content, Related Notes */

.notes-page-site-heading a {
    text-decoration: none;
    font-family:  'Feed', sans-serif;
    font-weight: 600;
    font-size: inherit;
    padding-left: 0px;
    color:  inherit;
    display: block;
}

.notes-page-site-heading p {
    margin-bottom: 0px;
    margin-top: 0px;
    display: block;
}

.notes-page-main-heading {
    padding-left: 0px;
    font-family: 'Feed', sans-serif;
    height: 43px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.notes-page-heading {
    color:  inherit;
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    padding-top: 0px;
    font-family: 'Feed', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.notes-page-heading a {
    text-decoration: none;
    display: block;
    line-height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.notes-page-heading p {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 15px;
    display: inline-block;
}

.notes-page-tagline {
    color: #4285f4;
    font-family: 'Feed', sans-serif !important;
    font-size: 15px; 
    font-weight: 400;
    padding-left: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.notes-page-tagline a {
    text-decoration: none;
    font-family: 'Feed', sans-serif !important;
}

.notes-page-tagline p {
    font-family: 'Feed', sans-serif !important;
    display: inline-block;
}

.notes-page-subheader {
    border-bottom: 0px solid #E6ECF0;
}


/* Utilities: Disable Selection, Kramdown TOC */

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    margin: 20px;
    width: auto;
}

.very-small {
    font-size: 12px !important;
}

.medium-small {
    font-size: 14px !important;
}

.small {
    font-size: 16px !important;
}

.small-medium {
    font-size: inherit !important;
}

.medium {
    font-size: 18px !important;
}

.medium-large {
    font-size: 25px !important;
}

.default-color {
    color: #555 !important;
}

.default-background {
    background-color: #f7f7f7 !important;
}

.large {
    font-size: 28px !important;
}

.serif {
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif !important;
}

.title-sans {
    font-family: 'Feed', sans-serif !important;
    line-height: 15px;
    color:  inherit !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.regular-sans {
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif !important;
}

.bold {
    font-weight: 600 !important;
}

.very-bold {
    font-weight: 800 !important;
}

.bolder {
    font-weight: 500 !important;
}

.normal {
    font-weight: 400 !important;
}

.regular {
    font-style: normal !important;
}

.oblique {
    font-style: oblique !important;
}

.italic {
    font-style: italic !important;
}

.boxit {
    padding: 0px;
    background-color: #0000;
    border-radius: 0px;
    font-family: 'Feed', sans-serif !important;
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    line-height: 24px;
    margin-top: 0.79em;
    margin-bottom: -0.42em;
    letter-spacing: 0;
}

#boxit {
    padding-left: 20px;
    border-radius: 0px;
}


#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
    text-decoration: underline;
}


#markdown-toc li {
    margin-left: 1rem;
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

#markdown-toc a {
    text-decoration: none;
}

#markdown-toc a:hover {
    text-decoration: underline;
}


/* Common custom components between Main Site and Notes: Searchbar, Backbutton, ContentBox, Related Posts/Notes, Copyright,  */

.searchbar input[type="text"] {
    position: relative;
    padding-left: 50px;
    box-sizing : border-box;
    width: 100%;
    height: 40px;
    border: 0px;
    font-family:  'Feed', sans-serif !important;
    color:  inherit;
    font-size: 16px;
    border: 0px solid #b3b3b3;
    border-radius: 0px;
    background-color: #0000;
}

::placeholder {
    color: #999;
    font-size: 16px;
    font-family:  'Feed', sans-serif !important;
}
.searchbar i {
    position: absolute;
    vertical-align: middle;
    margin-top: -2px;
    padding-left: 20px;
    color: #b3b3b3; 
    padding-top: 12.5px;
    z-index: 1;
}
  
.searchbar input[type="text"]:focus {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 0px 0 rgba(32,33,36,0.28);
}
  
.searchbar input[type=text]:hover {
    background-color: #0000;
}
  
.searchbar input[type=text]:active,
.searchbar input[type=text]:focus {
    background-color: #0000;
    outline: none;
} 

.search_res {
    padding-left: 0px;
}
    
.search_res:hover {
 background-color: #0000;
}

.search_res p {
    font-size: 16px;
    font-family:  'Feed', sans-serif !important;
    
}

.search_res:hover > a {
    font-weight: 600;
    font-size: 16px;
}

#results-container {
    display: none;
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
    font-family:  'Feed', sans-serif !important;
}

.back-icon {
    background-color: #0000;
    fill: currentColor;
    color: #292929;
    margin-top: 5px;
    padding-left: 0px;
    fill: currentColor;
    cursor: pointer;
}

.back-p {
    color: #292929;
    text-decoration: none;
    cursor: pointer;
    font-family:  'Feed', sans-serif !important;
    font-weight: 600;
}

.back-icon,
.back-p {
    vertical-align: middle;
    display: -webkit-inline-box;
}

.feed-title-excerpt-block {
    width: 100%;
    cursor: pointer;
    border-top: 0px solid rgba(223,225,229,0);
    border-bottom: 0px solid #b3b3b3;
    margin: 20px;
    width: auto;
}

.feed-title-excerpt-block:hover {
    background-color: #ffffff;
}

.srccode {
    position: absolute;
    right: 10px;
}

.srccode:hover > a > i{
    font-weight: 600;
}

.feed-context {
    position: absolute;
    right: 10px;
    margin-top: 17px;
}

.feed-context-svg:hover {
    background-color: #e9e9e9;
    border-radius: 50%;
}

.feed-title {
    color: rgba(0, 0, 0, 0.84);
    font-size: 20px;
    font-family:  'Feed', sans-serif !important;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -.42px!important;
    margin: 0px;
    text-transform: capitalize;
}

.feed-title:hover {
    text-decoration: underline;
}

.feed-excerpt{
    color: rgba(0, 0, 0, 0.54);
    margin-top: 2px !important;
    font-family:  'Feed', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
     display: -webkit-box;
     max-width: 100%;
     margin: 0 auto;
     white-space: inherit; 
     -webkit-line-clamp: 2;
     /* autoprefixer: off */
     -webkit-box-orient: vertical;
     /* autoprefixer: on */
     overflow: hidden;
     text-overflow: ellipsis;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}

.tags li {
    float: left; 
}

.tag {
    color: #555555;
    background: #f7f7f7;
    text-decoration: none;
    display: none;
    padding: 0 12px;
    border-radius: 32px;
    height: auto;
    vertical-align: middle;
    font-family:  'Feed', sans-serif !important;
    font-weight: normal !important;
    font-size: 14px;
}

.content a {
    background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="1" y2="1" stroke="rgba(41, 41, 41, 1)" /></svg>');
    color:  #292929;
    text-decoration: none;
    background-size: 1px 1px;
    background-position: 0 calc(1em + 1px);
    background-repeat: repeat-x;
}

.content a:hover {
    text-decoration: none;
}

.sn-right,
.mn-right {
    float: right;
    clear: right;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif !important;
    font-size: inherit;
    margin-right: -45%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative; 
    padding-bottom: 5px;
}

.sn-left,
.mn-left {
    float: left;
    clear: left;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif !important;
    font-size: inherit;
    margin-left: -45%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative; 
    padding-bottom: 5px;
}

.sidenote-number {
    counter-increment: sidenote-counter; 
}

.sidenote-number:after,
.sn-left:before,
.sn-right:before {
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif !important;
    position: relative;
    vertical-align: baseline; 
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 12px;
    top: -0.5rem;
    left: 0.1rem; 
}

.sn-right:before,
.sn-left:before {
    content: counter(sidenote-counter) " ";
    font-size: 14px;
    top: -0.5rem; 
}

blockquote .sn-left,
blockquote .mn-left {
    float: left;
    clear: left;
    margin-left: -58%;
    width: 40%;
    text-align: left; 
}

li .sn-left,
li .mn-left {
    float: left;
    clear: left;
    margin-left: -53%;
    width: 40%;
    text-align: left; 
}

blockquote .sn-right,
blockquote .mn-right {
    float: right;
    clear: right;
    margin-right: -55% !important;
    width: 40%;
    text-align: left; 
}

li .sn-right,
li .mn-right {
    float: right;
    clear: right;
    margin-right: -45% !important;
    width: 40%;
    text-align: left; 
}

.sn-left, .sn-right,
.mn-left, .mn-right {
    display: none; 
}

.margin-toggle:checked + .sn-right,
.margin-toggle:checked + .sn-left,
.margin-toggle:checked + .mn-left,
.margin-toggle:checked + .mn-right {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; 
}




.tooltip {
    display:inline;
    position:relative;
    text-align:left;
}


.tooltip bottom {
    display: none;
}

.tooltip .right {
    min-width:300px; 
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#555;
    background-color:#fff;
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px #ddd;
    display:none;
}

.tooltip:hover .right {
    display:none;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#fff;
    box-shadow:0 1px 8px #ddd;
    display: none;
}

.right .tooltip-title {
    font-size: 15px;
    font-weight: 600;
    display: none;
}

.right .tooltip-excerpt {
    font-size: 12px;
    display: none;
}

.right .tooltip-excerpt a {
    font-size: 12px;
}

input.margin-toggle {
    display: none; 
}

.srs-svg {
    stroke: #555;
}

label.sidenote-number {
    display: inline; 
}

label.margin-toggle:not(.sidenote-number) {
    display: none; 
}

.spaced-rep {
    display: none;
}

input.srs-toggle {
    display: none; 
}

label.srs-toggle {
    display: inline; 
    cursor: pointer;
}

.srs-toggle:checked + .spaced-rep{
    display: block !important;
    left: 0rem;
    clear: both;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; 
    padding: 12px;
    width: auto;
    background-color: #0000;
    border: solid 1px #dfdfdf;
    border-radius: 4px;
    box-shadow: 1px 1px 15px #cfcfcf;
    word-wrap:break-word;
}

.related {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    display: none;
}

.related h4 {
    color: #888888;
    padding-top: 20px;
    padding-left: 20px;
    font-family:  'Feed', sans-serif !important;
	    margin-top: 2.56em;
    /* padding-top: 0px; */
    /* border-top-width: 1px; */
    margin-bottom: 0px;
}

.related-wrapper {
    column-count: 2 !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.related-group {
    margin-left: 10px;
    width: 90% !important;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.related-group:hover {
    background-color: #ededed !important;
}

.related-group a {
    text-decoration: none;
}

.related-title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px !important;
    font-family:  'Feed', sans-serif !important;
    font-weight: 600;
    line-height: 16px;
		margin-top: 1em;
    margin-bottom: 1em;
}

.related-excerpt:before {
    content: "\"";
}


.related-excerpt:after {
    content: "\"";
}

.related-excerpt {
    color: #555555 !important;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px !important;
    line-height: 20px !important;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif !important;
    font-weight: 400;
	margin-top: 1em;
    margin-bottom: 1em;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #0000;
    outline: none;
    border: none;
    overflow: hidden;
    font-size: 18px;
}

.context-menu-res {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 4px 0;
    width: auto;
    hight: auto;
    background-color: #fff;
    border: solid 0px #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    font-family:  'Feed', sans-serif !important;
    line-height: 0.8rem;
}

.context-menu-res li {
    line-height: 0.8rem;
    padding-left: 0rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-family:  'Feed', sans-serif !important;
}

.context-menu-res--active {
    display: block;
}

.context-menu-res li:hover {
    color: #555;
    background-color: #0000;
    font-family:  'Feed', sans-serif !important;
    text-decoration: underline;
}

.context-menu-res li:hover >  .context-menu-res__link {
    text-decoration: underline;

}

.context-menu-res__link {
    color: #555;
    text-decoration: none;
}



/* context-menu styling */
.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: auto;
    background-color: #fff;
    border: solid 0px #dfdfdf;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #cfcfcf;
  }
  
.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #555;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Feed', sans-serif;
  line-height: inherit;
}

.context-menu__link:hover {
  color: #555;
  background-color: #f4f4f4;
}

.popup {
 position: absolute;
 display: none;
}

#copyright {
    margin: 20px;
}

#copyright-notice {
    font-size: 0px;
    font-weight: 600;
    color: #b3b3b3;
    font-family: 'Feed', sans-serif !important;
    margin-top: 0px;
    margin-bottom: 0px;
   display: none;
}

/* IE-SPECIFIC STYLING */


.internet-explorer-heading {
    display: none;
}

/* Apparently IE10+ do not support conditionals. F*ck Me! */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .userdesc,
    .username,
    .link-to-notes,
    .avatar,
    .related {
        display: none !important;
    }

    .dashboard, .site-heading {
        display: inline-block;
    }
    
    #scroll-head,
    #disqus_thread {
        display: none !important;
    }
    .sn-right,
    .mn-right {
        margin-right: -30%;
        width: 25%;
    }
    .sn-left,
    .mn-left {
        margin-left: -30%;
        width: 25%;
    }

    blockquote .sn-left,
    blockquote .mn-left,
    li .sn-left,
    li .mn-left {
    margin-left: -38%;
    width: 24% !important;
}

    blockquote .sn-right,
    blockquote .mn-right,
    li .sn-right,
    li .mn-right {
    margin-right: -30%;
    width: 25% !important;
}
    .box {
        border: none !important;
    }
}

@media screen and (max-width: 1200px){
 .sn-right,
.mn-right {
    margin-right: -35%;
    width: 30%;
}

.sn-left,
.mn-left {
    margin-left: -35%;
    width: 30%;
}
   
blockquote .sn-left,
blockquote .mn-left {
    margin-left: -51% !important;
    width: 30% !important;
}

li .sn-left,
li .mn-left {
margin-left: -43% !important;
width: 30% !important;
}

blockquote .sn-right,
blockquote .mn-right {
    margin-right: -50% !important;
    width: 30% !important;
}

li .sn-right,
li .mn-right {
margin-right: -35% !important;
width: 30% !important;
}

.related-group {
    background-color: #ededed !important;
    margin-left: 10px;
    width: 90% !important;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
}

@media screen and (max-width: 1024px) {
    .tooltip .right {
        display: none;
    }

    .tooltip .bottom {
        min-width:300px; 
        top:40px;
        left:50%;
        transform:translate(-50%, 0);
        padding:10px 20px;
        color:#555;
        background-color:#fff;
        font-weight:normal;
        font-size:13px;
        border-radius:8px;
        position:absolute;
        z-index:99999999;
        box-sizing:border-box;
        box-shadow:0 1px 8px #ddd;
        display:none;
    }
    
    .tooltip:hover .bottom {
        display:none;
    }

    .tooltip .bottom i {
        position:absolute;
        bottom:100%;
        left:50%;
        margin-left:-12px;
        width:24px;
        height:12px;
        overflow:hidden;
        display:none;
    }
    
    .tooltip .bottom i::after {
        content:'';
        position:absolute;
        width:12px;
        height:12px;
        left:50%;
        transform:translate(-50%,50%) rotate(45deg);
        background-color:#fff;
        box-shadow:0 1px 8px #ddd;
        display:none;
    }
    
    .bottom .tooltip-title {
        font-size: 15px;
        font-weight: 500;
        display: none;
    }
    
    .bottom .tooltip-excerpt {
        font-size: 12px;
        display: none;
    }    

    .bottom .tooltip-excerpt a {
        font-size: 12px;
        display:none;
    }  
}

/* smartphones, touchscreens */
@media (pointer: coarse) {
    .tooltip:hover .bottom, .tooltip:hover .right {
        display: none;
    }
    .feed-context {
        padding: 2px 10px 0px 10px;
        height: 70px;
        right: 0px;
        margin-top: 15px;
    }
}



@media screen and (max-width: 800px){

.box {
    width: 80%;
}

label {
    cursor: pointer; 
}

label.margin-toggle:not(.sidenote-number) {
    display: inline; 
}

.sn-left, .sn-right,
.mn-left, .mn-right {
    display: none; 
}

.margin-toggle:checked + .sn-right,
.margin-toggle:checked + .sn-left,
.margin-toggle:checked + .mn-left,
.margin-toggle:checked + .mn-right {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; 
}

.sketch-left, .sketch-right {
    display: inline-block !important;
    float: left !important;
    left: 1rem !important;
    clear: both !important;
    width: 95% !important;
    margin: 1rem 2.5% !important;
    vertical-align: baseline !important;
    position: relative !important; 
    padding-bottom: 10px;
}
}

@media screen and (max-width: 500px){
.box {
    width: 100%;
    max-width: 100% !important;
    border-left: none !important;
    border-right: none !important;
}
.related-wrapper {
    grid-template-columns: repeat(1, 1fr);
}
.feed-excerpt{
    color: rgba(0, 0, 0, 0.54);
    margin-top: 2px !important;
    font-family:  'Feed', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    white-space: inherit; 
    -webkit-line-clamp: 1;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    text-overflow: ellipsis;
}
	
	blockquote {
    display: block !important;
    width: auto;
    vertical-align: baseline;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: 0px;
    box-shadow: inset 3px 0 0 0 rgba(41, 41, 41, 1);
}
    
    h1 {
    font-size: 34px;
    line-height: 42px;

}
    h2 {
    font-size: 26px;
    margin-top: 1.2em;
    margin-bottom: -0.28em;
    line-height: 32px;
}

h3 {
    font-size: 22px;
    margin-top: 1.23em;
    margin-bottom: -0.31em;
    line-height: 28px;
}

h4 {
    font-size: 22px;
    margin-top: 1.23em;
    margin-bottom: -0.31em;
    line-height: 28px;

}
    
    a, p, ul, li, ol, table, span, blockquote {
    color: #292929;
    font-family:  'Quicklook', 'Quicklook-VN', 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.003em;
}
    
    p.drop-cap:first-letter {
    font-family: 'Quicklook';
    font-size:  66px;
    font-style: normal;
    line-height: .83;
    text-transform: uppercase;
    margin-right: 12px;
    padding-top: 0px;
    position: relative;
    float: left;
    display: block;
    box-sizing: border-box;
    word-break: break-word;
    letter-spacing: -0.003em;
    font-kerning: normal;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    
}
    
    .boxit {
    padding: 0px;
    background-color: #0000;
    border-radius: 0px;
    font-family: 'Feed', sans-serif !important;
    color: #757575;
    font-size: 18px;
    line-height: 24px;
}
    
    .notes-page-main-heading {
    padding-left: 0px;
    font-family: 'Feed', sans-serif;
    height: 43px;
    margin-top: 0px;
    margin-bottom: 0px;
}
    
    .feed-title {
    color: rgba(0, 0, 0, 0.84);
    font-size: 20px;
    font-family:  'Feed', sans-serif !important;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -.42px!important;
    margin-top: 0px;
    margin-bottom: 0px;
}
}

@media print {
.userboard,
.avatar,
.searchbar,
.menu,
.related {
    display: none !important;
}

#scroll-head,
#disqus_thread {
    display: none !important;
}
.sn-right,
.mn-right {
    margin-right: -30%;
    width: 25%;
}
.sn-left,
.mn-left {
    margin-left: -30%;
    width: 25%;
}
.box {
    border: none !important;
}
}
