*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
  min-height: 90px;
  padding: 0.5em;
}

header > * {
  margin: 0;
}

.article-header.show {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  padding: 0.5em 0 0.75em;
  width: 100%;
  min-height: 80px;
  background-color: #fff;
}

.article-header .article-title,
.article-header .scroll-bar {
  display: none;
}

.article-header.show .scroll-bar {
  display: block;
}

.article-header > div p {
  margin: 0;
}

body.article-bar .article-header:not(.show) > div + div {
  position: fixed !important;
  top: 0 !important;
}

#table-of-contents {
  position: relative;
  display: none;
  overflow: hidden;
}

#table-of-contents a:focus,
#table-of-contents a:hover {
  outline: none;
  text-decoration: underline;
  box-shadow: none;
}

#table-of-contents > p {
  margin: 0;
  padding: 0 0 0.25em;
}

#table-of-contents > p a[href] {
  text-decoration: none;
  line-height: 32px;
  color: #131d26;
}

#table-of-contents > p strong {
  display: inline-block;
  margin-right: 0.5em;
  font-weight: 700;
  letter-spacing: -0.48px;
  font-size: 24px;
}

#table-of-contents > p svg {
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
  transform-origin: 0.5em 0.5em;
  transition: transform 0.3s linear;
}

#table-of-contents.show > p svg {
  transform: rotate(-180deg);
}

#table-of-contents ul,
#table-of-contents li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#table-of-contents ul {
  display: none;
  border-left: 1px solid #b4b9bf;
}

#table-of-contents.show ul {
  display: block;
}

#table-of-contents li {
  margin: 12px 0;
}

#table-of-contents ul li {
  counter-increment: h2-count;
}

#table-of-contents ul li a::before {
  content: counter(h2-count) ". ";
}

#table-of-contents li:first-child {
  margin-top: 0;
}

#table-of-contents li:last-child {
  margin-bottom: 0;
}

#table-of-contents ul a {
  position: relative;
  display: block;
  padding: 0 0.5em;
  text-decoration: none;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 20px;
  color: #131d26;
}

#table-of-contents .selected {
  letter-spacing: -0.6px;
  font-weight: 700;
}

#table-of-contents .selected::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-left: 5px solid #131d26;
}

main > [data-toc] {
  margin: 0;
  padding: 1em 0;
}

main > [data-toc]:focus {
  outline: none;
  box-shadow: none;
}

main > section {
  height: 60vh;
}

.content {
  margin: 0 auto;
  padding: 0.5em 20px;
  max-width: 280px;
}

.content img {
  max-width: 100%;
  height: auto;
}

.main > .content:first-child {
  padding-top: 0;
}

.main main h2 {
  padding-top: 85px;
}

.invisible {
  visibility: hidden;
}

.main main h2 {
  counter-increment: h2-count;
}

.main main h2::before {
  content: counter(h2-count) ". ";
}

.main main > ul,
.main main > ul > li {
  margin: 0 0 0.75rem;
  padding: 0;
  list-style-type: none;
}

.main main > ul > li {
  margin: 0.5rem 0 0.5rem 1.25rem;
  position: relative;
}

.main main > ul > li::before {
  content: "•";
  position: absolute;
  left: -0.5em;
  top: -0.25em;
  line-height: 1em;
  font-size: 2.5rem;
}

@media (min-width: 480px) {
  .content {
    max-width: 460px;
  }
}

@media (min-width: 620px) {
  .content {
    max-width: 600px;
  }
}

@media (min-width: 780px) {
  .article-header.show .article-title {
    display: block;
  }

  .content {
    max-width: 760px;
  }

  .content main {
    margin-right: 320px;
  }

  #table-of-contents {
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 190px;
    padding-bottom: 1em;
    width: 300px;
    background-color: #fff;
    border-radius: 0.5em;
  }

  #table-of-contents p {
    padding: 0 0 28px 0;
  }

  #table-of-contents p a:focus,
  #table-of-contents p a:hover {
    text-decoration: none;
    cursor: default;
  }

  #table-of-contents > p span,
  #table-of-contents > p svg {
    display: none;
  }

  #table-of-contents ul {
    display: block;
    max-height: 60vh;
    overflow: auto;
  }

  #table-of-contents ul a {
    padding: 0 0 0 30px;
  }

  body.article-scroll #table-of-contents {
    position: fixed;
    top: 100px;
  }
}

@media (min-width: 920px) {
  .content {
    max-width: 900px;
  }
}

@media (min-width: 1080px) {
  .content {
    max-width: 1060px;
  }
}

@media (min-width: 1600px) {
  .content main {
    margin-right: 130px;
  }
}

@media (min-width: 1900px) {
  .content main {
    margin-right: 0;
  }
}
