body {
    --paper-fab-background: #35424b;
}

#tocToggle {
    position: absolute;
    left: 10px;
}

pb-drawer {
    position: absolute;
    background-color: #d1dae0;
    height: 100%;
}

#title-view {
    margin-left: 80px;
}
main {
    margin-left: 80px;
    margin-right: 80px;
    overflow: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

pb-navigation {
    position: fixed;
    bottom: 55%;
}

pb-navigation[direction="backward"] {
    left: 10px;
}

pb-navigation[direction="forward"] {
    right: 10px;
}

#toc ul {
    list-style: none;
}
