details, summary {
    display: block;
}

#toc-container {
    padding: 20px;
    font-size: 100%;
    overflow: auto;
    max-width: 256px!important;
    min-width: 256px!important;
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    top:0;
    background: #fff;
    overflow-y: scroll;
    line-height: normal;
    border-radius: 0px;
    border-width: 1px;
    line-height: normal !important;
    display: none;
	z-index: 99999;
	    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.28);
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    -webkit-transition: transform .25s cubic-bezier(0.4,0.0,0.2,1) ,visibility 0s linear 0s;
    transition: transform .25s cubic-bezier(0.4,0.0,0.2,1) ,visibility 0s linear 0s;
}

#comment-container {
    padding: 20px;
    font-size: 100%;
    overflow: auto;
    max-width: 256px!important;
    min-width: 256px!important;
    position: fixed;
    height: 100%;
    right: 0;
    bottom: 0;
    top:0;
    background: #fff;
    overflow-y: scroll;
    line-height: normal;
    border-radius: 0px;
    border-width: 1px;
    line-height: normal !important;
	z-index: 9999;
	    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,.28);
    box-shadow: 0 0 16px rgba(0,0,0,.28);
    -webkit-transition: transform .25s cubic-bezier(0.4,0.0,0.2,1) ,visibility 0s linear 0s;
    transition: transform .25s cubic-bezier(0.4,0.0,0.2,1) ,visibility 0s linear 0s;
}

.toc-title {
    font-weight: 600;
    display: block;
    zoom: 1;
    font-family: 'Feed', 'Segoe UI', sans-serif;
    line-height: normal !important;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 22px;
    max-height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

/*  hide default arrow */
.toc-container summary::-webkit-details-marker{
	display:none;
}

.toc-container summary {
  	outline: none;
}

.toc-container summary:hover {
    color: #0077cc;
}

.toc-container summary:after {
    content: "Views contents";
    color: #292929;
    margin-left: 0px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Feed', 'Segoe UI', sans-serif;
    line-height: normal;
}

.toc-container details[open] summary:after {
    content: "Hide contents";
    color: #292929;
}

.toc-list, .toc-list ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    line-height: normal !important;
}

.toc-list {
    margin-top: 20px;
}

.re-li {
    font-size: 16px;
    line-height: normal;
    font-family: 'Feed', 'Segoe UI', sans-serif;
}

.re-li:hover {
    color: #ff2f56;
}

.toc-container a {
    background-image: none;
    text-decoration: none;
    color: #292929;
    word-break: break-word;
    font-family: 'Feed' !important;
    line-height: normal !important;
    font-size: 16px !important;
}

.toc-container a:hover {
    color: #ff2f56;
}

.makedl a {
    line-height: 28px !important;
    max-height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
}

#bottommenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transition: bottom 0s;
  transition: bottom 0s;
  background: #1d1d1f; 
  padding: 8px 20px;
  z-index: 999999999;
}

.user-guide-header {
  position: relative;
  height: auto;
  width: 100%;
  padding: 0 0 20px 0;
  border-bottom: solid 1px #ddd;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 70%;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-family: 'Feed', 'Segoe UI', sans-serif;
}

.label-info {
    background-color: #0070c9;
}

.user-guide-header button.close {
    position: fixed;
    top: 15px;
    right: 15.5px;
    text-shadow: none;
    min-width: auto;
    width: 30px;
    border: 0;
    display: block;
}

button.close {
    -webkit-appearance: none;
    cursor: pointer;
}

.close {
    float: right;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .6;
}
